* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink: #D658B3;
  --grenn: #45B442;
  --gray-700: #332b31;
  --gray-700a: #322a309a;
  --gray-600: #4A4448;
  --gray-500: #756C71;
  --gray-400: #D3CFD2;
  --gray-300: #DFDCDF;
  --gray-200: #E9E7E9;
  --gray-100: #F4F1F2;
  --white: #FFFFFF;

  --gradient-base: linear-gradient(310deg,#2DAA6E 0%,#2DAAAA 33.33%, #856CCF 66.67%, #D658B3 100%);

  --font-family: "Oxygen", sans-serif;
  --title-md: 700 24px/140% var(--font-family);
  --title-sm: 700 18px/140% var(--font-family);
  --subtitle-md: 700 14px/140% uppercase var(--font-family);
  --subtitle-sm: 700 12px/140% uppercase var(--font-family);
  --text-md: 400 16px/140% var(--font-family);
  --text-sm: 400 14px/140% var(--font-family);
  --text-xs: 400 12px/140% var(--font-family);
}

::-webkit-scrollbar {
  width: 0.375rem;
  height: 4.5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--gray-300);
  border-radius: 5px;
}


body {
  width: 100%;
  height: 100vh;
  
  background-color: var(--gray-200);
  display: flex;
  flex-direction: column;
  align-items: center;
 
  color: var(--gray-500);
  font: var(--text-md);
  font-size: 16px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
}

.logo {
  width: 7.25rem;
  height: 3.5rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

form {
  background-color: var(--gray-300);
  border: 2px solid var(--gray-400);
  border-radius: 12px;

  width: 400px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

form:focus-within {
  border: 2px solid var(--pink);
}

input {
  border: none;
  width: 324px;
  padding-left: 0.5rem;
  font: var(--text-md);
  color: var(--gray-500);
  background-color: transparent;
  outline: none;
}

input:focus-within {
  caret-color: var(--pink);
}

button {
  border: none;
  border-radius: 0.5rem;
  background-color: var(--gray-700a);
  height: 2.5rem;
  width: 2.5rem;
  /*margin-right: 0.5rem;*/
}

button:hover {
  background-color: var(--gray-700);
}

button img {
  height: 1.25rem;
  width: 1.25rem;
}

main {
  width: 90%;
  max-width: 1280px;
  
  border: 2px solid green;
  display: grid;
  grid-template-columns: 1fr 2fr;
  
  gap: 1.5rem;
  
  /*
  grid-template-rows: calc(100vh - 1.5rem);
  grid-template-areas: "form schedule";
  
  padding: 0.75rem;
  
  
  display: flex;
 
  flex: 1;
  */
}

/*
section {
  display: flex;
  flex: 1;
  gap: 1.25rem;
  padding-bottom: 2rem;
}
*/

#user {
  display: flex;
  align-items: center;
  
  padding: 1rem;
  gap: 1rem;
  margin-bottom: 1rem;

  border: 2px solid;
  border-radius: 16px;
  border-color: var(--gray-300);
  background: var(--gray-100);
}
  
#avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  
  background: var(--gradient-base);
  border-radius: 10px;
  width: 56px;
  height: 56px;
}

#avatar img {
  width: 52px;
  height: 52px;
}

#user-info h1{
  font: var(--title-sm);
  color: var(--gray-600)
}

#user-info p {
  font: var(--text-xs)
}

#history {
  /*
  display: flex;
  flex-direction: column;
  */

  border: 2px solid;
  border-radius: 16px;
  border-color: var(--gray-300);
  background: var(--gray-100);

  padding: 1.75rem;

}

#history-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font: var(--subtitle-sm);
  
  color: var(--gray-500);
}

#history-header p{
  font: var(--text-xs);
  color: var(--gray-500);
}

#history hr {
  border-top: 2px solid var(--gray-300);
  border-radius: 5px;
}

#haircuts {
  list-style: none;
}

#haircut {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}


#date {
  display: flex;
  flex-direction: column;
}

#date #day { 
  font: var(--subtitle-sm);
  color: var(--gray-600);
}

#date #hour { 
  font: var(--text-xs);
  color: var(--gray-500);
}